body {
  font-family: "Oswald", sans-serif;
  margin: 0;
}
:root {
  --color: #575757;
  --white: white;
  --color: #ef233c;
}
p {
  font-size: 16px;
  color: #575757;
}
/* banner section star */
header {
  background: url(images/banner.jpg) center center;
  position: relative;
  z-index: 5;
}
header::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -5;
}
.banner-content {
  color: var(--white);
  padding: 200px 0;
  width: 40%;
  padding-left: 120px;
}
.banner-content h1 {
  margin: 0;
}
.banner-content p {
  color: var(--white);
}
.btn {
  text-decoration: none;
  color: var(--white);
  background-color: var(--color);
  padding: 12px 25px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
}
/* banner section end */
/* video section start */
.video-section {
  margin: 80px 0;
}
.video-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.video-content {
  width: 35%;
}
.video-content h2 {
  margin: 0;
}
.video {
  width: 35%;
}
.video video {
  width: 100%;
}
/* video section end */
/* blog started */
.blog-title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.blogs {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.blog {
  display: flex;
  padding: 20px;
  margin: 0 1%;
  margin-top: 2%;
  background: #b1b1b14f;
}
.icons {
  width: 30%;
  font-size: 50px;
}
.icons-content {
  width: 70%;
}
.icons-content h4 {
  margin: 0;
}
/* blog end */
/* images start */
.image-section {
  width: 80%;
  margin: 50px auto;
}
.image-gallary {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.images {
  width: 31.3%;
  height: 350px;
  background: #0000ff33;
}
.image-gallary img {
  /* border: 2px solid gray; */
  padding: 7% 5.5%;
}
/* images end */
/* figcaption-section start */
.figcaption-section {
  width: 80%;
  margin: 0 auto;
}
.figcaption-title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.figcaption-blog-wrapper {
  display: flex;
  margin: 50px 0;
}
.figcap-blog {
  width: 31.3%;
  margin: 0 1%;
  background-color: #a62907b3;
  color: bl;
}
.figcap-image img {
  width: 100%;
}
.figcap-content {
  padding-left: 20px;
}
.figcap-content p {
  color: black;
}
/* figcaption-section end */
/* footer start */
footer {
  text-align: center;
  background-color: #000000db;
}
footer h4 {
  margin: 0;
  padding-top: 50px;
  color: var(--color);
}
footer p {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 50px;
}
/* footer end */
